
services:

  db:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=fundraising
      - POSTGRES_USER=fundraiser
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
    ports:
      - "5432:5432"
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U fundraiser -d fundraising"]
      interval: 10s
      timeout: 5s
      retries: 5

  gunicorn:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["gunicorn", "--bind", "0.0.0.0:8000", "fundraiser.wsgi:application"]
    volumes:
      - .:/app/team_fundraising
    env_file:
      - .env
    environment:
       # Use dev settings for local development
      - DJANGO_SETTINGS_MODULE=fundraiser.settings.dev
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - DATABASE_NAME=fundraising
      - DATABASE_USER=fundraiser
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    restart: always

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - .:/app/team_fundraising
    depends_on:
      - gunicorn

volumes:
  postgres_data: