## The following requirements were added by pip freeze:
certifi==2019.3.9
chardet==3.0.4
Django==2.2.2
django-crispy-forms==1.7.2
django-debug-toolbar==1.11
django-paypal==1.0.0
idna==2.8
Pillow==6.0.0
pytz==2019.1
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
