{% extends 'base_nonav.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}

<script src="{% static "validation.js" %}"></script>
{% endblock head %}
{% block body %}
<div class="container">
    <br/>
    <h3>Change Password</h3>
    {% for message in messages %}

    <div class="alert alert-primary" role="alert">
        {{ message }}
    </div>

    {% endfor %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary" value="Change Password" />
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const password1Input = document.getElementById("id_new_password1");
        const password2Input = document.getElementById("id_new_password2");

        if (password2Input && password1Input) {
            password2Input.addEventListener("keyup", function (e) {
                checkPasswordsMatch(password1Input, password2Input);
            });
        }
    });
</script>
{% endblock body %}