{% extends 'base_nonav.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="{% static "validation.js" %}"></script>
{% endblock head %}
{% block body %}
<div class="container">
    <br/>
    <h3>Change Password</h3>
    {% for message in messages %}

        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>

    {% endfor %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary" value="Change Password" />
    </form>
</div>
<script>
    $(document).ready(function () {

        $("#id_new_password2").keyup(function (e) {

            checkPasswordsMatch(
                $("#id_new_password1"),
                $("#id_new_password2")
            );

        });

    });
</script>
{% endblock body %}
