{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}


{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p> Please login to see this page,</p>
    {% endif %}
{% endif %}


<form method="post" action="{% url 'team_fundraising:login' %}">
    {% csrf_token %}

    <div>
        {{ form.username|as_crispy_field }}
    </div>
    <div>

        {{ form.password|as_crispy_field }}
    </div>
    <div>
        <input type="submit" class="btn btn-primary" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </div>

</form>

{% endblock content %}
    