{% extends 'base_nonav.html' %}
{% load crispy_forms_tags %}
{% block head %}
<title>Password reset</title>
{% endblock head %}

{% block body %}

<div class="container">
    <h2>Password reset</h2>
            
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>


    <form method="post" action="{% url 'team_fundraising:password_reset' %}">
        {% csrf_token %}

        <div>
            {{ form.email|as_crispy_field }}
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Submit" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>

    </form>

    <br>
</div>

{% endblock body %}
    