{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<title>Join Triple Crown for Heart Fundraising</title>
<style>
    th {
      height: 50px;
      vertical-align: top;
    }
</style>
<script src="//cdn.ckeditor.com/4.11.4/basic/ckeditor.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static "validation.js" %}"></script>
{% endblock head %}


{% block content %}

<br/>
<h3> Join {{ campaign.name }}</h3>

{%  if not campaign.active %}

    <div class="alert alert-warning" role="alert">
      This campaign is no longer active.

        Please join the new campaign:
        <a href="{% url 'team_fundraising:signup' campaign.get_latest_active_campaign.id %}">
        {{ campaign.get_latest_active_campaign.name }}
        </a>


    </div>
{%  else %}

Sign up to create your own fundraising page to raise money for the
BC Children's Hospital Foundation and the Children's Heart Network.
If you already have an account, you can also
<a href="{% url 'team_fundraising:login' %}">Login</a>
to join the campaign with one click.

<br/><br/>

{# show form errors at the top of the page #}
{% if user_form.errors %}
    {% for error in user_form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error|escape }}
        </div>
    {% endfor %}
    {% for field in user_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ error|escape }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

{% if fundraiser_form.errors %}
    {% for error in fundraiser_form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error|escape }}
        </div>
    {% endfor %}
    {% for field in fundraiser_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ error|escape }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

{% for message in messages %}

  <div class="alert alert-primary" role="alert">
      {{ message|safe }}
  </div>

  {% endfor %}

<form method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|as_crispy_errors }}
    <input type="hidden" name="campaign" id="id_campaign" value="{{ campaign.id }}">

    <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="{{ fundraiser_form.name.auto_id}}">{{ fundraiser_form.name.label }}:</label>
        <div class="col-sm-8">
            {{ fundraiser_form.name }}
            {% for error in fundraiser_form.name.errors %}
            <div class="alert alert-danger">
                {{ error|escape }}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="{{ fundraiser_form.goal.auto_id}}">{{ fundraiser_form.goal.label }}:</label>
        <div class="input-group col-sm-8">
            <div class="input-group-addon">
                <span class="input-group-text">$</span>
            </div>
           {{ fundraiser_form.goal }}
           {% for error in fundraiser_form.goal.errors %}
           <div class="alert alert-danger">
               {{ error|escape }}
           </div>
           {% endfor %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="{{ fundraiser_form.message.auto_id}}">{{ fundraiser_form.message.label }}:</label>
        <div class="col-sm-8">
            <textarea name="message" cols="20" rows="3" maxlength="5000" class="form-control" id="id_message">
                {{ campaign.default_fundraiser_message }}
            </textarea>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="{{ fundraiser_form.photo.auto_id}}">{{ fundraiser_form.photo.label }}:</label>
        <div class="col-sm-8">
            {{ fundraiser_form.photo }}
            {% for error in fundraiser_form.photo.errors %}
            <div class="alert alert-danger">
                {{ error|escape }
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="{{ user_form.email.auto_id}}">{{ user_form.email.label }}:</label>
        <div class="col-sm-8">
            {{ user_form.email }}
            {% for error in user_form.email.errors %}
            <div class="alert alert-danger">
               {{ error|escape }}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="form-group row">

        <label class="col-sm-4 col-form-label" for="{{ user_form.username.auto_id}}">{{ user_form.username.label }}:</label>
        <div class="col-sm-8">
            <input type="text" name="username" maxlength="150" class="form-control" required="" id="id_username"
                {% if user.is_authenticated %} readonly {% endif %}
            >
            {% if not user.is_authenticated %}
            <small>
                If you have already participated in a previous campaign, enter your existing username and password.
            </small>
            {% endif %}

            {% for error in user_form.username.errors %}
            <div class="alert alert-danger">
                {{ error|escape }}
            </div>
            {% endfor %}
    </div>
</div>
{% if not user.is_authenticated %}
    <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="{{ user_form.password1.auto_id}}">{{ user_form.password1.label }}:</label>
        <div class="col-sm-8">
            {{ user_form.password1 }}
            {% for error in user_form.password1.errors %}
            <div class="alert alert-danger">
                {{ error|escape }
            </div>
            {% endfor %}            <small id="hint_id_new_password1" class="form-text text-muted">
                <ul>
                    <li>Your password can't be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                </ul>
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="{{ user_form.password2.auto_id}}">{{ user_form.password2.label }}:</label>
        <div class="col-sm-8">
            {{ user_form.password2 }}
            {% for error in user_form.password2.errors %}
            <div class="alert alert-danger">
                {{ error|escape }}
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

    <button type="submit" class="btn btn-primary">Sign up</button>
    <script>
        CKEDITOR.replace( 'message', {
        height: 260,
      /* Default CKEditor styles are included as well to avoid copying default styles. */
      contentsCss: [
        'http://cdn.ckeditor.com/4.11.4/full-all/contents.css',
        '{% static "ck_editor_override.css  " %}'
      ]
    } );
    </script>
    <script>
        $(document).ready(function () {

            $("#id_password2").keyup(function (e) {

                checkPasswordsMatch(
                    $("#id_password1"),
                    $("#id_password2")
                );

            });

        });
    </script>
</form>

{% endif %}

{% endblock content %}
