{% load static %}
<!doctype html>
<html lang="en">
    <head profile="http://www.w3.org/2005/10/profile">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" type="image/png" href="{% static "favicon.png" %}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        
        <link rel="stylesheet" href="{% static "fundraising.css" %}">
        <link rel="stylesheet" href="{% static "thermometer.css" %}">

        {% block head %}
        {% endblock head %}

    </head>
    <body>
        {% block navbar %}
        {% endblock navbar %}

        {% block body %}
        {% endblock body %}

    </body>
    </html>
