{% extends "base_nonav.html" %}
{% load static %}
{% load humanize %}

{% block body %}
<br/>
<div class="container">
    <h4>Active campaigns</h4>
    {% for campaign in active %}
    <div class="col-lg-8  mx-auto">
        <div class="card mb-3">
            <img class="card-img-top" src="{% static "homepage.jpg" %}" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title"><a href="{% url 'team_fundraising:index' campaign.id %}">{{ campaign.name }}</a></h2>
                <div class="progress" style="height: 25px;">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {% widthratio campaign.get_total_raised campaign.goal 100 %}%" aria-valuenow="{% widthratio campaign.get_total_raised campaign.goal 100 %}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="mx-auto">
                    Raised ${{ campaign.get_total_raised|floatformat:"0"|intcomma }} of
                    ${{ campaign.goal|floatformat:"0"|intcomma }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
<br/><br/>

<h4>Previously finished campaigns</h4>
{% for campaign in inactive %}
    <div class="card">
        <div class="card-header">
            <a href="{% url 'team_fundraising:index' campaign.id %}">{{ campaign.name }}</a><br/>
        </div>
        <div class="card-body">
            Raised ${{ campaign.get_total_raised|floatformat:"0"|intcomma }} of
            ${{ campaign.goal|floatformat:"0"|intcomma }}
        </div>
    </div>
{% endfor %}

{% endblock body %}