/*
Deprecated: This file is kept for backward compatibility
Please use quill_override.css instead
*/

body
{
	/* Font */
	/* Emoji fonts are added to visualise them nicely in Internet Explorer. */
	font-family: sans-serif, "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans";
	font-size: 16px;

	/* Text color */
	color: #333;

	/* Remove the background color to make it transparent. */
	background-color: #fff;

	margin: 20px;
}

.cke_editable
{
	font-size: 16px;
	line-height: 1.6;

	/* Fix for missing scrollbars with RTL texts. (#10488) */
	word-wrap: break-word;
}
