
h2 {
    text-align:center;
}

.circle-image {
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 200px;
}

.circle-image-small {
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 140px;
}

.donate-button {
    width: 50%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    border-radius: 20px;
    background-color: #D1481D;
    border-color: #D1481D;
}

.card-donate-button {
    width: 75%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    border-radius: 20px;
    background-color: #D1481D;
    border-color: #D1481D;
}