/* 
 * Quill Editor override styles
 */

.ql-editor {
  min-height: 260px;
  font-family: sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans";
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}

.ql-container {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.ql-toolbar {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
