{% extends "base.html" %}
{% block head %}
<title>About Triple Crown for Heart</title>
{% endblock head %}

{% block content %}

<h3>Welcome to the Triple Crown for Heart donation site!</h3>
<p>
The Triple Crown for Heart is an annual cycling ride up the three North Shore mountains in Vancouver, British Columbia.
</p>
<p>
The ride is also a fundraising event for two worthwhile charities, the 
<a href="https://www.bcchf.ca/">BC Children’s Hospital Foundation</a> and the 
<a href="https://www.childrensheartnetwork.org/">Children’s Heart Network</a>. 
We encourage our riders to take the time to raise some money for these great causes.
</p>
<p>
This fundraising website was built in Python/Django specifically for the Triple Crown for Heart by Dominik Szopa. 
The complete source code will be released on GitHub, but if you are interested in using this platform for your 
charity (for free), please contact techdomi@gmail.com.
</p>
{% endblock content %}