{% extends "base.html" %}
{% block head %}
<title>About Triple Crown for Heart</title>
{% endblock head %}

{% block content %}

<h3>Welcome to the Triple Crown for Heart donation site!</h3>
<p>
The <a href="https://triplecrownforheart.ca/">Triple Crown for Heart</a> is an annual cycling ride up the
three North Shore mountains in Vancouver, British Columbia.
</p>
<p>
The ride is also a fundraising event for two worthwhile charities, the
<a href="https://www.bcchf.ca/">BC Children’s Hospital Foundation</a> and the
<a href="https://www.childrensheartnetwork.org/">Children’s Heart Network</a>.
We encourage our riders to take the time to raise money for these great causes.
</p>
<p>
This fundraising website was built in Python/Django specifically for the Triple Crown for Heart by Dominik Szopa.
The complete source code is available on <a href="https://github.com/dominikszopa/fundraising-website">GitHub</a>
under the <a href="https://en.wikipedia.org/wiki/MIT_License">MIT License</a>.
If you are interested in using this platform for your charity (for free), please contact techdomi@gmail.com.
</p>
v1.1.2
{% endblock content %}