{% extends "base.html" %}
{% load humanize %}
{% block head %}
<title>Donation Report</title>
{% endblock head %}

{% block content %}

<a href="{% url 'donation_report_csv' campaign_id %}">Download as csv</a>
    <table class="table">
    {% for donation in donations %}
        <tr scope="col">
            <td scope="row" nowrap>{{ donation.name }}</td>
            <td nowrap>${{ donation.amount|floatformat:"2"|intcomma }}</td>
            <td nowrap>{{ donation.email }}</td>
            <td>{{ donation.address}}</td>
            <td nowrap>{{ donation.city}}</td>
            <td nowrap>{{ donation.province}}</td>
            <td nowrap>{{ donation.postal_code}}</td>
            <td nowrap>{{ donation.country}}</td>
            <td nowrap>{{ donation.date }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}