{% extends "base.html" %}
{% block head %}
<title>Donate to {{ fundraiser.name }}</title>
{% endblock head %}
{% block content %}

{% load crispy_forms_tags %}
<br/>
<h3>Donate to {{ fundraiser.name }}'s fundraising</h3>
<br/>
<form method="post">
    {% csrf_token %}

    {# show form errors at the top of the page #}
    {% if form.errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error|escape }}
            </div>
        {% endfor %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div id="div_id_amount" class="form-group">
        <label for="id_amount" class="col-form-label  requiredField">
            Amount<span class="asteriskField">*</span>
        </label>
        <div>
            <input type="radio" class="radio" id="id_amount" name="amount" value="10">
            <label for="10">$10</label>
        </div>
        <div>
            <input type="radio" class="radio" id="id_amount" name="amount" value="25">
            <label for="25">$25</label>
        </div>
        <div>
            <input type="radio" class="radio" id="id_amount" name="amount" value="50">
            <label for="50">$50</label>
        </div>
        <div>
            <input type="radio" class="radio" id="id_amount" name="amount" value="100">
            <label for="100">$100</label>
        </div>
        <div>
            <input type="radio" class="radio" id="other" name="amount" value="other">
            <label for="other" class="col-form-label">Other:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend">$</span>
                </div>
                <input type="number" min="0" step="0.01" class="form-control" id="other" name="other_amount" size="10" onclick="document.getElementById('other').checked = true;">
            </div>
        </div>
        <div>
            Donation are allocated to our <a href="https://triplecrownforheart.ca/the-cause">charities</a> where funds are of immediate priority
        </div>
    </div>

    <div>
        {{ form.name|as_crispy_field }}
    </div>
    <div class="form-group">
        <div id="div_id_anonymous" class="form-check">
            <label for="id_anonymous" class="form-check-label">
                <input type="checkbox" name="anonymous" class="checkboxinput form-check-input" id="id_anonymous">
                Anonymous (your name will not appear on the site)
            </label>
        </div>
    </div>
    <div>
        {{ form.email|as_crispy_field }}
    </div>
    <div>
        <div id="div_id_message" class="form-group">
                <label for="id_message" class="col-form-label ">
                    Message (This will appear along with your donation)
                </label>
                <div class="">
                        <textarea name="message" cols="40" rows="3" class="textarea form-control" id="id_message"></textarea>
                </div>
        </div>
    </div>
    <hr>
    <div>Please fill in the following information to receive a tax receipt for donations over $20:</div>
    <div>
        {{ form.address|as_crispy_field }}
    </div>
    <div>
        {{ form.city|as_crispy_field }}
    </div>
    <div>
        {{ form.province|as_crispy_field }}
    </div>
    <div>
        {{ form.country|as_crispy_field }}
    </div>
    <div>
        {{ form.postal_code|as_crispy_field }}
    </div>
    </br>
    <div>
        <input type="submit" class="btn btn-primary" value="Donate now">
    </div>
</form>
{% endblock content %}