{% extends "base.html" %}
{% load humanize %}
{% block head %}
<title>Donation Report</title>
{% endblock head %}

{% block content %}

<table>
{% for donation in donations %}
    <tr>
        <td>{{ donation.name }}</td>
        <td>${{ donation.amount|floatformat:"2"|intcomma }}</td>
        <td>{{ donation.email }}</td>
        <td>{{ donation.address}}</td>
        <td>{{ donation.city}}</td>
        <td>{{ donation.province}}</td>
        <td>{{ donation.postal_code}}</td>
        <td>{{ donation.country}}</td>
        <td>{{ donation.date }}</td>
    </tr>
{% endfor %}
</table>

{% endblock content %}