{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<h3>Donate to {{ fundraiser.name }}'s cause</h3>
<br/>
<form method="post">
    {% csrf_token %}
    {{ form.errors }}
    <div id="div_id_amount" class="form-group">
        <label for="id_amount" class="col-form-label  requiredField">
            Amount<span class="asteriskField">*</span>
        </label>
        <div>
            <input type="radio" class="radio" id="id_amount" name="amount" value="10">
            <label for="10">$10</label>
        </div>
        <div>
            <input type="radio" class="radio" id="id_amount" name="amount" value="25">
            <label for="25">$25</label>
        </div>
        <div>
            <input type="radio" class="radio" id="id_amount" name="amount" value="50">
            <label for="50">$50</label>
        </div>
        <div>
            <input type="radio" class="radio" id="id_amount" name="amount" value="100">
            <label for="100">$100</label>
        </div>
        <div>
            <input type="radio" class="radio" id="other" name="amount" value="other">
            <label for="other" class="col-form-label">Other:</label>
            $<input type="number" min="0" step="0.01" class="form-control" id="other" name="other_amount" size="10">
        </div>
    </div>

    <div>
        {{ form.name|as_crispy_field }}
    </div>
    <div>
        {{ form.anonymous|as_crispy_field }}
        (your name will not appear on the site)
    </div>
    <div>
        {{ form.email|as_crispy_field }}
    </div>
    <br/>
    <div>
        {{ form.message|as_crispy_field }}
        This will appear along with your donation.
    </div>
    </br>
    <div>
        <input type="submit" class="btn btn-primary" value="Donate now">
    </div>
</form>
{% endblock content %}