{% extends "base.html" %}
{% block content %}

<h1>Donation Page</h1>
<h3>Donate to {{ fundraiser.name }}'s cause</h3>
<form method="post">
    {% csrf_token %}
    {{ form.errors }}
    <div>
        <input type="radio" id="id_amount" name="amount" value="10">
        <label for="10">$10</label>
    </div>
    <div>
        <input type="radio" id="id_amount" name="amount" value="25">
        <label for="25">$25</label>
    </div>
    <div>
        <input type="radio" id="id_amount" name="amount" value="50">
        <label for="50">$50</label>
    </div>
    <div>
        <input type="radio" id="id_amount" name="amount" value="100">
        <label for="100">$100</label>
    </div>
    <div>
        <input type="radio" id="other" name="amount" value="other">
        <label for="other">Other:</label>
        $<input type="text" id="other" name="other_amount" size="10">
    </div>
    <br/>
    <div>
        Your name: <br>
        {{ form.name }}
    </div>
    <div>
        Email: <br>
        {{ form.email }}
    </div>
    <div>
        {{ form.anonymous }}
        <label for="anonymous">Donate anonymously</label> 
        (your name will not appear on the site)
    </div>
    <br/>
    <div>
        <label for="message">Message:</label> <br>
        {{ form.message }}
        <br/>
        This will appear along with your donation.
    </div>
    </br>
    <div>
        <input type="submit" value="Donate now">
    </div>
</form>
{% endblock content %}