{% extends "base.html" %}
{% load humanize %}

{% block content %}

    {% for message in messages %}

    <div class="alert alert-primary" role="alert">
        {{ message }}
    </div>

    {% endfor %}

    <h1>{{ fundraiser.name }}</h1>

    <h2>Total Raised ${{ fundraiser.total_raised|floatformat:"0"|intcomma }} of ${{ fundraiser.goal|floatformat:"0"|intcomma }}</h2>

    {% if fundraiser.photo %}
        <img src="{{ fundraiser.photo.url }}" width="150">
    {% endif %}
    <br/><br/>

    <a class="btn btn-primary" href="{% url 'team_fundraising:donation' fundraiser.id %}" role="button">Donate</a>
    <br/><br/>
    <p>{{ fundraiser.message }}</p>


        <h3>Recent Donations</h3>
        {{ fundraiser.Donation }}
        <ul>
            {% for donation in donations %}
            <li>
                    {% if  donation.anonymous %}
                        Anonymous
                    {% else %}
                        {{ donation.name }}
                    {% endif %}
                    - ${{ donation.amount|floatformat:"2"|intcomma }} - {{ donation.message }}
                </a>
            </li>
            {% endfor %}
        </ul>

    {% if user.is_authenticated %}
        <a class="btn btn-secondary" 
            href="{% url 'team_fundraising:update_fundraiser' %}" 
            role="button">Edit</a>    
        <a class="btn btn-secondary" 
            href="{% url 'team_fundraising:logout' %}" 
            role="button">Logout</a>    
    {% else %}
        <a class="btn btn-secondary" 
            href="{% url 'team_fundraising:login' %}" 
            role="button">Login</a>
    {% endif %}

    {% endblock %}
