{% extends "base.html" %}
{% load humanize %}

{% block content %}
    {% for message in messages %}

    <div class="alert alert-primary" role="alert">
        {{ message }}
    </div>

    {% endfor %}

    <h2>{{ fundraiser.name }}</h2>
    
    {% if fundraiser.photo %}
    <img src="{{ fundraiser.photo.url }}" width="150">
    {% endif %}
    <br/>
    {% if user.is_authenticated and user.fundraiser.id == fundraiser.id  %}
        <br/>
        <a class="btn btn-secondary" href="{% url 'team_fundraising:update_fundraiser' %}" role="button">Edit</a>  
    {% endif %}
    <br/>

    <h2>${{ fundraiser.total_raised|floatformat:"0"|intcomma }} 
        <small>of ${{ fundraiser.goal|floatformat:"0"|intcomma }} raised</small></h2>

    <p>{{ fundraiser.message }}</p>

    <a class="btn btn-primary" href="{% url 'team_fundraising:donation' fundraiser.id %}" role="button">Donate</a>
    <br/><br/>

        <h4>Recent Donations</h4>
        {{ fundraiser.Donation }}
        <ul>
            {% for donation in donations %}
            <li>
                    {% if  donation.anonymous %}
                        Anonymous
                    {% else %}
                        {{ donation.name }}
                    {% endif %}
                    - ${{ donation.amount|floatformat:"2"|intcomma }} - {{ donation.message }}
                </a>
            </li>
            {% endfor %}
        </ul>


    {% endblock %}
