{% load humanize %}
<html>
<body>
<h1>{{ campaign.name }}</h1>

<h2>Total Raised ${{ campaign.total_raised|floatformat:"0"|intcomma }} of ${{ campaign.goal|floatformat:"0"|intcomma }}

{% block content %}
    <h2>Fundraisers</h2>
    <ul>
        {% for fundraiser in fundraisers %}
        <li>
            <a href="{% url 'team_fundraising:fundraiser' fundraiser.id %}">
                {{ fundraiser.name }} 
                ${{ fundraiser.total_raised|floatformat:"0"|intcomma }} / ${{ fundraiser.goal|floatformat:"0"|intcomma }} 
            </a>
        </li>
        {% endfor %}

    </ul>
{% endblock %}
<pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>
</body>
</html>