{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block head %}
<title>Triple Crown for Heart Fundraising</title>
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
{% endblock head %}

{% block content %}
{% for message in messages %}

  <div class="alert alert-primary" role="alert">
      {{ message }}
  </div>

  {% endfor %}
  <div class="row">
    <div class="col-lg-6">
      <br/>
      <h3>{{ campaign.name }}</h3>
      <img src="{% static "homepage.jpg" %}" width="100%">
      <div id="countdown-wrap">
        <div id="goal-stat">
          <div id="raised"><strong>${{ total_raised|floatformat:"0"|intcomma }}</strong></div>
          <div id="goal">Goal: ${{ campaign.goal|floatformat:"0"|intcomma }}</div>
        </div>
        <div id="glass">
          <div id="progress">
          </div>
        </div>
        <div class="goal-stat">
          <span class="goal-number">{% widthratio total_raised campaign.goal 100 %}%</span>
        </div>
      </div>
      {{ campaign.campaign_message|safe }}
      <br/><br/>
      <div>
        <h4>Recent Donations</h4>
        {% for donation in recent_donations %}
          {% if  donation.anonymous %}
            Anonymous
          {% else %}
            {{ donation.name }}
          {% endif %}
          donated ${{ donation.amount|floatformat:"2"|intcomma }} to {{donation.fundraiser.name }}<br/>
        {% endfor %}
      </div>
      <script>
        document.getElementById("progress").style.width = "{% widthratio total_raised campaign.goal 100 %}%";
      </script>
    </div>
    <div class="col-lg-6">
      <br/>
      {% if user.is_authenticated %}
        <a class="btn btn-secondary secondary-button" href="{% url 'team_fundraising:update_fundraiser' campaign.id %}">Edit my profile</a>
      {% else %}
        <a class="btn btn-secondary secondary-button" href="{% url 'team_fundraising:signup' campaign.id %}">Create a fundraiser page</a>
      {% endif %}      <br/>

      <div>
      <!-- Search form --></form>
      <form class="form-inline">
              <input id="search" class="form-control form-control-md ml-3 full-width"
                type="text" placeholder="Search for a fundraiser" data-search />
      </form>
      </div>
    <br/>
    <div class="d-flex flex-wrap justify-content-around">

          {% for fundraiser in fundraisers %}
              <div class="card mt-3 mr-1" style="width: 160px;" data-filter-item data-filter-name="{{ fundraiser.name|lower }}">
                {% if fundraiser.photo_small %}
                  <img class="card-img-top circle-image-small" src="{{ fundraiser.photo_small.url }}" alt="Card image cap" width="140" height="140">
                {% elif fundraiser.photo %}
                  <img class="card-img-top circle-image-small" src="{{ fundraiser.photo.url }}" alt="Card image cap" width="140" height="140">
                {% else %}
                  <img class="card-img-top circle-image-small" src="{% static "nophoto.png" %}" alt="Card image cap" width="140" height="140">
                {% endif %}
                <div class="card-body">
                  <p class="card-title">
                      {{ fundraiser.name }}</p>
                  <p class="card-text">
                      ${{ fundraiser.total_raised|floatformat:"0"|intcomma }}
                      of ${{ fundraiser.goal|floatformat:"0"|intcomma }}</p>
                  <a href="{% url 'team_fundraising:fundraiser' fundraiser.id %}" class="stretched-link"></a>
                </div>
              </div>
          {% endfor %}
        </div>

      <br/>
    </div>
  </div>

<script>
/*
  https://codepen.io/alexerlandsson

	How to use:
	1)	Copy this jQuery to your project
	2)	Add [data-search] to search input
	3)	Add [data-filter-item] to the items that should be filtered
	4)	Add [data-filter-name="SEARCH TERM"] to the filter-items

*/

$('[data-search]').on('keyup', function() {
	var searchVal = $(this).val();
	var filterItems = $('[data-filter-item]');

	if ( searchVal != '' ) {
		filterItems.addClass('hidden');
		$('[data-filter-item][data-filter-name*="' + searchVal.toLowerCase() + '"]').removeClass('hidden');
	} else {
		filterItems.removeClass('hidden');
	}
});
</script>

{% endblock %}
