{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block head %}
<title>Triple Crown for Heart Fundraising</title>
{% endblock head %}

{% block content %}
  <div class="row">
    <div class="col-lg-6">
      <br/>
      <h3>{{ campaign.name }}</h3> 
      <img src="{% static "homepage.jpg" %}" width="100%"> 
      <div id="countdown-wrap">
        <div id="goal-stat">
          <div id="raised"><strong>${{ total_raised|floatformat:"0"|intcomma }}</strong></div>
          <div id="goal">Goal: ${{ campaign.goal|floatformat:"0"|intcomma }}</div>
        </div>
        <div id="glass">
          <div id="progress">
          </div>
        </div>
        <div class="goal-stat">
          <span class="goal-number">{% widthratio total_raised campaign.goal 100 %}%</span>
        </div>
      </div>
      Triple Crown For Heart is a fun road riding event that raises funds in support of the 
      BC Children's Hospital Foundation and the Children's Heart Network!
      <br/><br/>
      This year marks our 10th anniversary ride, we are raising $10,000 to send families living with congenital 
      or acquired heart disease to <a href="https://www.childrensheartnetwork.org/what-we-do/summer-camps/">Camp Zajac</a>, 
      as well as providing the remaining funds to the BC Children's Heart Foundation programs. We are hoping to raise 
      $30,000 this year. Read more in our <a href="http://triplecrownforheart.ca/the-cause/">announcement</a>. 
      <br/><br/>
      All your donations will go directly to these charities. Donate to your favourite rider today!
      <br/>

      <script>
        document.getElementById("progress").style.width = "{% widthratio total_raised campaign.goal 100 %}%";
      </script>
    </div>
    <div class="col-lg-6">
      <br/><br/>
      <!-- Search form -->
      <!--
      <form class="form-inline">
          <div class="col-xs-4">
              <i class="fa fa-search" aria-hidden="true"></i>
                Click on a fundraiser to donate:
                <input id="search" class="form-control form-control-sm ml-3 w-85" 
                  type="text" placeholder="Search for a fundraiser" aria-label="Search" 
                  onkeyup="filterList()">
          </div>
      </form>
      <br/>
      -->
      <a class="btn btn-secondary secondary-button" href="{% url 'team_fundraising:signup' %}">Create a fundraiser page</a>
        <div class="d-flex flex-wrap justify-content-start">
          <br>
          Click on a fundraiser to donate to their fundraising efforts:
          {% for fundraiser in fundraisers %}

              <div class="card mt-3 mr-1" style="width: 160px;"">
                {% if fundraiser.photo %}
                  <img class="card-img-top circle-image-small" src="{{ fundraiser.photo.url }}" alt="Card image cap" width="140" height="140">
                {% else %}
                  <img class="card-img-top circle-image-small" src="{% static "nophoto.png" %}" alt="Card image cap" width="140" height="140">
                {% endif %}
                <div class="card-body">
                  <p class="card-title">
                      {{ fundraiser.name }}</p> 
                  <p class="card-text">
                      ${{ fundraiser.total_raised|floatformat:"0"|intcomma }} 
                      of ${{ fundraiser.goal|floatformat:"0"|intcomma }}</p>
                  <a href="{% url 'team_fundraising:fundraiser' fundraiser.id %}" class="stretched-link"></a>
                </div>
              </div>
          {% endfor %}
        </div>

      <br/>
    </div>
  </div>

<script>
function filterList() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('search');
  filter = input.value.toUpperCase();
  ul = document.getElementById("fundraiserlist");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

{% endblock %}
