{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<title>Update your fundraising page</title>
<script src="//cdn.ckeditor.com/4.11.4/basic/ckeditor.js"></script>
{% endblock head %}

{% block content %}
{% for message in messages %}

    <div class="alert alert-primary" role="alert">
        {{ message }}
    </div>

{% endfor %}
<br/>
<h3>{{ campaign.name }}</h3>
{%  if not campaign.active %}

    <div class="alert alert-warning" role="alert">
      This campaign is no longer active.

      {% if active_campaign.id == latest_fundraiser.campaign.id %}

        You probably want to edit the new campaign:
          <a href="{% url 'team_fundraising:update_fundraiser' latest_fundraiser.campaign.id %}">
            {{ latest_fundraiser.campaign.name }}</a>

      {% else %}

          Please join the new campaign:
          <a href="{% url 'team_fundraising:signup' active_campaign.id %}">
            {{ active_campaign.name }}
          </a>

      {% endif %}
      <br>
      If you need to change something in this campaign, please contact the organization directly.

    </div>
{%  endif %}

{% if active_campaign.id != latest_fundraiser.campaign.id %}
  <a class="btn btn-primary primary-button" href="{% url 'team_fundraising:signup_logged_in' active_campaign.id %}">Join the new campaign</a>
  <br/><br/>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ fundraiser_form|crispy }}
    {{ user_form|crispy }}
    <a class="float-right" href="{% url 'team_fundraising:change_password' %}">Change Password</a>
    <br/>

    {% if campaign.active %}
      <button class="btn btn-primary" type="submit"> Save Changes</button>
    {% endif %}

    <script>
        CKEDITOR.replace( 'message', {
        height: 260,
      /* Default CKEditor styles are included as well to avoid copying default styles. */
      contentsCss: [
        'https://cdn.ckeditor.com/4.11.4/full-all/contents.css',
        '{% static "ck_editor_override.css  " %}'
      ]
    } );
    </script>
</form>

{% endblock content %}